
<div>
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">PHOTOGRAPHY</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">BEHIND THE SCENES</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">PHOTO DIARY</a>
            </li>
        </ul>
             <div class="justify-content-center">
                <a class="Logo_lulaproducciones" href="#">Lulaproducciones</a>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link">EDITORIALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">EXTRA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">SHOP</a>
            </li>
        </ul>
    </div>
</div>