
<div class="card-group">
    <div class="card">
      <img src="../../assets/Imagenes/foto1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sesiones Infantiles</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Mas Info</a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/Imagenes/foto2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sesiones individuales</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Mas Info</a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/Imagenes/foto3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Eventos</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Mas Info</a>
      </div>
    </div>
  </div>